/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.font-roboto-1 {
  font-family: Roboto, "Open Sans";
  font-size: 58px;
  color: #515151;
  text-align: center;
  margin-top: 3em;
}

.font-2 {
  font-family: Roboto, "Open Sans";
  font-size: 28px;
  color: #515151;
}

button a {
  text-decoration: none;
}
